#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.release.xcconfig"
#include "Generated.xcconfig"

// Allow developers to provide a local xcconfig with `SLPY_API_KEY` (ignored in git)
#include? "../Local.xcconfig"

// API key forwarding: INJECTED_SLPY_API_KEY will be available to Info.plist as $(INJECTED_SLPY_API_KEY)
INJECTED_SLPY_API_KEY = $(SLPY_API_KEY)
